.container-fluid
  background-color: #e9eaed
.container2
  background-color: white
  width: 500px
  height: 500px
  margin-left: 120px
.img-circle
  margin-left: 20px
.label-success
  margin-top: -100px
